/* App.css */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.LoginForm-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  width: 300px;
  max-width: 80%;
}

.BookList-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  max-height: 300px;
  overflow-y: auto;
  width: 300px;
  max-width: 80%;
}

.BookList-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}
